body {
	background-color: #222222;
	background-size: cover;
}

h1 {
	color: white;
	text-align: center;
}

/*.nav {
	background-color: rgba(0,0,0,1);
	list-style-type: none;
	margin: 0;
	padding: 0;
	color: white;
}*/

li {
	display: inline;
	color: white;
	margin: 10px;
}

h2 {
	color: white;
}

img {
	width: 100%;
	height: 30vh;
}

.campuses {
	text-align: center;
	padding: 0px;
}